html{
	overflow:hidden;
}
body{
	margin: 0px;
	padding: 0px;
	
	overflow:hidden;
}
#content-root{
	margin: 0px;
	padding: 0px;
	
	overflow:auto;
}

::-webkit-scrollbar {
	width: 10px;
	background: lightgray;
}
::-webkit-scrollbar-thumb {
	background: black;
}

#content{
	margin: 0px;
	padding: 0px;
}

#config-toolbar{
}

body:-webkit-full-screen #config-toolbar{
	display:none;
}