<!DOCTYPE html>
<html data-ng-app="spring-score-presentation" data-ng-csp>
<head>
<meta charset="utf-8" />
<title>Spring Score Presentation View</title>
<link rel="stylesheet" media="all" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" media="all" href="css/main.css">
</head>
<body>

<div class="btn-toolbar" id="config-toolbar">
  <div class="btn-group" data-ng-controller="ModeCtrl">
    <a href="#/settings" id="mode-settings" class="btn" data-ng-class="{active: isSettingsMode()}" data-ng-click="setSettingsMode()">Settings</a>
    <a href="#/results" id="mode-results" class="btn" data-ng-class="{active: isResultsMode()}" data-ng-click="setResultsMode()">Results</a>
    <a href="#/schedule" id="mode-schedule" class="btn" data-ng-class="{active: isScheduleMode()}" data-ng-click="setScheduleMode()">Schedule</a>
    <a href="#/standings" id="mode-standings" class="btn" data-ng-class="{active: isStandingsMode()}" data-ng-click="setStandingsMode()">Standings</a>
  </div>
  <div class="btn-group pull-right">
    <button id="fullscreen-button" class="btn btn-primary">Fullscreen</a>
  </div>
</div>

<div ng-view></div>

<script src="lib/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/rankings.js"></script>
<script src="js/settings.js"></script>

<script src="js/util.js"></script>
<script src="js/tcp-client.js"></script>
<script src="js/http-client.js"></script>
</body>
</html>